<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:name=".feature_authetication.presentation.BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/my_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestChatApp"
        tools:targetApi="31">

        <activity
            android:name=".featuer_chat.presentation.activites.chat_massenger_activity.ChatMessangerPage"
            android:exported="true"
            android:theme="@style/Theme.TestChatApp.noActionCustomBar"
            android:windowSoftInputMode="adjustPan"
            >


        </activity>

        <activity
            android:name=".featuer_chat.presentation.activites.user_chat_list_activity.UsersChatListActivity"
            android:exported="true"
            android:theme="@style/Theme.TestChatApp.noActionCustomBar"
            android:windowSoftInputMode="adjustPan"

            >

        </activity>
        <activity
            android:name=".feature_authetication.presentation.activites.sign_up_activity.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.TestChatApp.noActionCustomBar"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature_authetication.presentation.activites.login_activity.LoginActivityScreen"
            android:exported="true"
            android:theme="@style/Theme.TestChatApp.noActionCustomBar">

        </activity>
        <activity
            android:name=".featuer_chat.presentation.activites.MainActivity"
            android:exported="true" />
    </application>

</manifest>